<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="utf-8"/>
<title>PUBLICATIONS</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<header>
  <div class="container">
    <div style="display: flex; align-items: center; gap: 10px;">
      <a href="https://www.gknu.ac.kr/main/index.do" target="_blank">
        <img alt="GKNU 로고" src="{{ url_for('static', filename='img/gknu_logo.svg') }}" style="height: 40px;"/>
      </a>
      <h1 style="margin: 0;"><a href="{{ url_for('main.index') }}" style="all: unset; cursor: pointer;">GKNU MMDL</a></h1>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="{{ url_for('main.index') }}">HOME</a></li>
        <li class="dropdown">
          <a href="{{ url_for('team.team') }}">TEAM ▾</a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('team.professor') }}">교수소개</a></li>
            <li><a href="{{ url_for('team.students') }}">대학원생 소개</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('main.publications') }}">PUBLICATIONS</a></li>
        <li><a href="{{ url_for('board.board') }}">BOARD</a></li>
        <li><a href="{{ url_for('main.contact') }}">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
<h2>연구 성과 목록</h2>
<p>논문과 특허 등의 목록이 이곳에 들어갑니다.</p>
</main>
</body>
</html>